@import "tailwindcss";

@theme inline {
  --color-light: #ffffff;
  --color-dark: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@keyframes scan {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scan {
  animation: scan 1.5s linear infinite alternate;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
